# Ambiente virtual
venv/
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# Banco de dados local
*.db

# Logs
*.log

# Configurações de editor
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Testes / cobertura
.coverage
htmlcov/

# Node
node_modules/

