{% extends "layout.html" %}

{% block title %}
    Entrar
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Informe o usuário" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Senha" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sair</button>
    </form>
{% endblock %}
